<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зачем нужна регистрация | Poedalkin</title>
</head>
<body>
    
    <main class="content">
        <div>
            <h1>
                Зачем нужна регистрация
            </h1>
            <p>
                Регистрация аккаунта в системе позволяет сохранять данные о пользователе, а также упрощает взаимодействие с ним.
            </p>
            <p>
                Ниже приведены основные возможности, которые доступны авторизованным пользователям
            </p>
            <h2>
                Добавление товаров в корзину, оформление заказа
            </h2>
            <p>
                Создание аккаунта позволит вам не только просматривать, но также и добавлять товары в корзину.
            </p>
            <p>
                Для этого достаточно нажать на кнопку “В корзину”
            </p>
            <img src="/static/images/image_add_cart.jpg">
            <p>
                Для не авторизованного пользователя появится окно, в котором будет предложено авторизоваться, если пользователь откажется, то товар не будет добавлен в корзину
            </p>
            <p>
                В ином случае появится сообщение об успешной операции
            </p>
            <img src="/static/images/image_success_add.jpg">
            <p>
                При переходе на страницу оформления заказа вам будет представлен список всех добавленных вами товаров, их стоимость (не включается цена за доставку).
            </p>
            <h2>
                Личный кабинет, история прошлых заказов
            </h2>
            <p>
                После оформления заказа можно перейти в личный кабинет. В нём содержится ваш логин, указанный при регистрации, а также ваш основной адрес доставки, заполнив который один раз, вы можете больше не заполнять при оформлении нового заказа
            </p>
            <img src="/static/images/user_personal.jpg">
            <p>
                Также существует возможность просмотреть заказы.
            </p>
            <img src="/static/images/history_orders_list.jpg">
            <p>
                При нажатии на кнопку “Прошлые заказы” откроется список всех прошлых заказов пользователя, выбрав один из них откроется страница, с подробным описанием каждого заказа, его статусом, и временем
            </p>
            <img src="/static/images/history_orders_page.jpg">
        </div>
    </main>

    <style>
        .content h1{

        }
        .content img{
            max-width: 320px;
            width: 100%;
            height: auto;
        }
    </style>
</body>
</html>